:host div {
  position: absolute;
  background-color: lightgrey;
}


#topleftside {
  width: 10px;
  height: 10px;
  cursor: nw-resize;
}

#bottomside {
  bottom: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 10px;
  cursor: s-resize;
}

#topside {
  top: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 10px;
  cursor: n-resize;
}

#toprightside {
  right: 0;
  width: calc(100% - 20px);
  height: 10px;
  width: 10px;
  cursor: ne-resize;
}

#bottomrightside {
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  cursor: se-resize;
}

#bottomleftside {
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  cursor: sw-resize;
}

#leftside {
  top: 10px;
  left: 0;
  width: 10px;
  height: calc(100% - 20px);
  cursor: w-resize;
}

#rightside {
  right: 0;
  top: 10px;
  width: 10px;
  height: calc(100% - 20px);
  cursor: e-resize;
}
