:host([data-max]) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

:host([data-min]) {
  display: none;
}

:host {
  min-height: 200px;
  min-width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 200px;
  bottom: 400px;
  overflow: hidden;
  background-color: grey;
}

:host([data-active]) title-bar {
  background-color: blue;
}

border-element div {
  background-color: lightgrey;
}

#buttoncontainer {
  top: 0;
  right: 0;
  padding: 0;
  width: 75px;
  height: 20px;
  position: absolute;
}

close-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background-color: lightgrey;
  color: black;
}

maximise-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background-color: lightgrey;
  color: black;
}

minimise-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background-color: lightgrey;
  color: black;
}