:host([data-max]) {
  transform: translate(0, 0);
  width: 100% !important;
  height: 100% !important;
}

:host([data-min]) {
  display: none;
}

:host {
  --translate-x: 20px;
  --translate-y: 20px;
  min-height: 200px;
  min-width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: grey;
  transform: translate(var(--translate-x, 0), var(--translate-y, 0));
}

:host([data-active]) title-bar {
  background-color: blue;
}

border-element div {
  background-color: lightgrey;
}
