:host {
  user-select: none;
  background: lightslategrey;
  color: black;
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: 20px;
  font-size: 0.75em;
}

#buttoncontainer {
  top: 0;
  right: 0;
  padding: 0;
  width: 75px;
  height: 20px;
  position: absolute;
}

:host .button {
  background-color: lightgrey;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

:host .button div {
  text-align: center;
}

:host .button:hover {
  background-color: grey;
}

:host #title {
  color: white;
  font-size: 1.75em;
}

close-button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background-color: lightgrey;
  color: black;
}

maximise-button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background-color: lightgrey;
  color: black;
}

minimise-button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background-color: lightgrey;
  color: black;
}
